body {
  font-family: "Pacifico", cursive;
}
h1 {
  text-align: center;
  font-weight: 200;
  font-size: 30px;
  margin-top: 40px;
}
ul {
  list-style: none;
  margin: 0;
  margin-bottom: 15px;
}
form {
  text-align: center;
  margin-top: 25px;
  width: 100%;
}

img {
  height: 85px;
  width: 85px;
}
.currently {
  text-align: left;
}

.github {
  display: block;
  margin-top: 0;
  text-align: center;
}

.wrap {
  margin: 0 auto;
  max-width: 700px;
}
.weather-app {
  border: 1px solid black;
  border-radius: 6px;
  padding: 25px;

  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.fahrenheit {
  font-size: 25px;
}
.celsius {
  font-size: 25px;
}
.weather-details {
  text-align: right;
}
#temp {
  font-size: 45px;
}
#city-search {
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 15px;
  border: 1px solid #040505;
  border-radius: 4px;
  line-height: 1.5;
  font-family: "Courier New", Courier, monospace;
}
#city-submit {
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 15px;

  border-radius: 4px;
  line-height: 1.5;
  color: #fff;
  background: #0069d9;
  border: #0069d9;
  font-family: "Courier New", Courier, monospace;
}
#date {
  text-align: center;
}
#weather {
  text-align: center;
  text-transform: capitalize;
}
